---
import Layout from '../layouts/Layout.astro'
import Post from '../components/Post.astro'

import type { PostResponse } from '../models/Post'

const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`
const { data }: PostResponse = await fetch(url).then(res => res.json())
---

<Layout
  title="Blog"
  description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más"
>
  <main class="contenedor">
    <h1 class="heading">Blog</h1>

    <div class="grid">
      {data?.map(post => <Post post={post.attributes} />)}
    </div>
  </main>
</Layout>

<style></style>
