---
import Layout from '../layouts/Layout.astro'
import Guitar from '../components/Guitar.astro'

import type { GuitarResponse } from '../models/Guitar'
import type { PostResponse } from '../models/Post'

const urlGuitarras = `${import.meta.env.PUBLIC_API_URL}/guitars?populate=image`
const urlBlogs = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`

const [{ data: guitars }, { data: blogs }] = (await Promise.all([
  fetch(urlGuitarras).then(res => res.json()),
  fetch(urlBlogs).then(res => res.json()),
])) as [GuitarResponse, PostResponse]
---

<Layout
  title="Inicio"
  description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más"
>
  <main class="contenedor">
    <h1 class="heading">Nuestra Colección</h1>

    <div class="grid">
      {guitars?.map(guitar => <Guitar guitar={guitar.attributes} />)}
    </div>
  </main>
</Layout>

<style></style>
